
<div id="track-title">
  <h1><strong><%= @track.title%></strong></h1>
</div>

<% @sections.each do |section| %>
    <div class="section-title">
      <h2><strong> <%= section.title %> </strong></h2>
    </div>

    <div class="section-and-submission-container">
      <div class="section-container" data-section-id="<%=section.id%>">
        <%= render 'sections/section_resources', section: section %>
      </div>
      <%= render 'sections/submit_resource', section: section%>

      <!-- <div class="btn-group">
        <button type="submit" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Submit<span class="caret"></span></button>

        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div> -->
    </div>
<% end %>