<head>
<link rel="stylesheet" type="text/css" href="../assets/track.css">
<%= javascript_include_tag "animations" %>
</head>
<body>

<div id="track-title">
  <h1><strong> <%= @track.title%> </strong></h1>
</div>

<% @sections.each do |section| %>
  <div class="section-title">
    <h2><strong> <%= section.title %> </strong></h2>
  </div>
  <%= render 'sections/section_resources', section: section %>
  <%= render 'sections/submit_resource,' section: section%>
<% end %>



</body>